/* Adicione isso ao seu arquivo styles.css */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #121212; /* Cor de fundo escura */
    color: #e0e0e0; /* Cor de texto clara */
}

.container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
    position: relative;
    justify-content: space-between; /* Distribui espaço entre os itens */
}

.menu-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #825dff; /* Roxo para o botão do menu */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px; /* Espaço entre o botão e o relógio */
}

.clock {
    font-size: 1.2em; /* Tamanho da fonte do relógio */
    margin-left: 70%;
    margin-top: 2%;
}

.clock i {
    margin-right: 5px; /* Espaço entre o ícone e o texto */
}

.menu {
    position: fixed; /* Fixa o menu na tela */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Fundo escuro e transparente */
    display: none; /* Oculto por padrão */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    z-index: 1000; /* Garante que o menu fique acima de outros conteúdos */
    overflow-y: auto; /* Adiciona rolagem se necessário */
}

.menu.open {
    display: flex; /* Exibe o menu quando a classe 'open' é adicionada */
}

.menu-content {
    width: 100%;
    background-color: #1f1f1f; /* Fundo do menu */
    border-radius: 10px; /* Cantos arredondados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra para um efeito de elevação */
    text-align: center; /* Centraliza o texto */
}

.menu h2 {
    margin-top: 150px;
    font-size: 40px;
    color: #fff; /* Cor do título */
}

.menu ul {
    list-style: none; /* Remove marcadores de lista */
    padding: 0;
    margin: 20px 0;
}

.menu ul li {
    margin-bottom: 10px;
}

.menu ul li a {
    text-decoration: none;
    color: #825dff; /* Cor do link */
    font-size: 30px; /* Tamanho da fonte */
    transition: color 0.3s ease; /* Transição suave para a cor do link */
}

.menu ul li a:hover {
    color: #8c00ff; /* Cor do link ao passar o mouse */
}

.close-menu {
    background-color: #825dff; /* Cor do botão de fechar */
    color: #fff;
    border: none;
    padding: 20px 80px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px; /* Espaço acima do botão */
}

.close-menu:hover {
    background-color: #642dfc; /* Cor do botão de fechar ao passar o mouse */
}

h2, h3 {
    color: #ffffff;
}

.temperature, .weather, .news, .stocks {
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 20px;
}

.temperature p, .weather p, .news ul, .stocks ul {
    margin: 0;
    font-size: 1.2em;
}

.news ul, .stocks ul {
    list-style-type: none;
    padding: 0;
}

.news li, .stocks li {
    padding: 8px;
    border-bottom: 1px solid #eee;
}

.news li:hover, .stocks li:hover {
    background-color: #414141;
}

.avatar-container {
    display: flex;
    align-items: center; /* Alinha verticalmente os itens no centro */
    justify-content: space-between; /* Distribui espaço entre os lados */
}

.left-side, .right-side {
    flex: 1; /* Faz com que cada lado ocupe uma quantidade igual de espaço */
}

.avatar {
    width: 100px; /* Largura do avatar */
    margin: 0 40px; /* Margem para separar o avatar dos lados */
}

/* Ajustes adicionais para garantir que tudo fique alinhado corretamente */
.temperature, .stocks, .weather, .news {
    margin: 10px; /* Margem para espaçamento */
}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 20%;
    background-color: #825dff; /* Cor de fundo do avatar */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

.face {
    position: relative;
    width: 60px;
    height: 60px;
    background-color: #825dff; /* Cor do rosto */
    border-radius: 50%;
}

.eye {
    position: absolute;
    width: 45px;
    height: 70px;
    background-color: rgb(0, 0, 0);
    border-radius: 20%;
}

.eye.left {
    left: 38px;
}

.eye.right {
    right: 38px;
}

#recomendacoes {
    margin-bottom: 50px;
}

#status {
    display: none; /* Oculta o status por padrão */
    margin-top: 10px;
    font-size: 0.9em; /* Tamanho da fonte */
    color: #777; /* Cor mais clara */
}

.chat {
    width: 600px;
    height: 300px;
    border: 1px solid #333;
    background-color: #1e1e1e;
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 15px; /* Espaçamento interno */
}

#chatArea {
    width: 100%;
    height: calc(100% - 60px); /* Ajuste conforme necessário para não sobrepor o footer */
    overflow-y: auto;
    border-radius: 4%;
    border-top: 1px solid #333; /* Borda superior do chat */
    background-color: #2e2e2e; /* Fundo do área de chat */
}

.chat-footer {
    display: flex; /* Flexbox para alinhamento */
}

.message {
    margin-left: 10px;
    max-width: 80%;
    line-height: 1.5;
}

.my-message {
    background-color: #8c00ff; /* Roxo para mensagens enviadas pelo usuário */
    color: #fff;
    align-self: flex-end; /* Alinha à direita */
    border-top-right-radius: 0; /* Ajuste o canto superior direito para o balão de mensagem */
}

.response-message {
    background-color: #a745f7; /* Cinza escuro para mensagens recebidas */
    color: #e0e0e0;
    align-self: flex-start; /* Alinha à esquerda */
    border-top-left-radius: 0; /* Ajuste o canto superior esquerdo para o balão de mensagem */
}

footer {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #1e1e1e; /* Fundo escuro para o footer */
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #444; /* Borda do campo de texto */
    background-color: #333; /* Fundo do campo de texto */
    color: #e0e0e0; /* Cor do texto no campo de texto */
    border-radius: 3px;
    margin-right: 5px;
}

button {
    background-color: #825dff; /* Roxo para o botão */
    color: #fff; /* Cor do texto */
    border: none; /* Sem borda */
    padding: 10px 15px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor pointer */
    transition: background-color 0.3s; /* Transição suave */
    margin-left: 5px;
}

button:hover {
    background-color: #642dfc; /* Roxo mais escuro no hover */
}
