/* Adicione isso ao seu arquivo styles.css */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #121212; /* Cor de fundo escura */
    color: #e0e0e0; /* Cor de texto clara */
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
    position: relative;
    justify-content: space-between; /* Distribui espaço entre os itens */
}

#loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #121212; /* Cor de fundo da tela de loading */
    z-index: 9999;
}

#loader-background {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loader-background video {
    width: 100%;
    height: auto;
}

a {
    color: white;
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input, textarea {
    width: 98%;
    padding: 10px;
    background: #333;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* O Modal (fundo) */
.modal {
    display: none; /* Esconde o modal por padrão */
    position: fixed;
    z-index: 1; /* Fica em cima de outros elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 1000;
    background-color: #121212;
  }
  
  /* O conteúdo do modal */
  .modal-content {
    background-color: #121212;
    margin: 15% auto;
    padding: 20px;
    width: 80%; /* Tamanho do modal */
  }
  
  /* O botão de fechar */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }  

.menu-button {
    position: absolute;
    top: 20px;
    left: 10px;
    background-color: #825dff; /* Roxo para o botão do menu */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px; /* Espaço entre o botão e o relógio */
}

.menu-button2 {
    position: absolute;
    top: 60px;
    left: 10px;
    background-color: #825dff; /* Roxo para o botão do menu */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px; /* Espaço entre o botão e o relógio */
}

.calenbutton {
    position: absolute;
    top: 60px;
    left: 10px;
    background-color: #1f1f1f; /* Roxo para o botão do menu */
    color: #825dff;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px; /* Espaço entre o botão e o relógio */
}

.calenbutton:hover {
    background-color: #6f4fef; /* Cor ao passar o mouse */
    color: #ffffff;
}

#calendar {
    top: 10px;
    left: 100px;
    display: none;
    position: absolute;
    background-color: #202020;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    margin-top: 10px;
    z-index: 1000;
  }
  
  #calendarHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  #calendarGrid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    font-size: 14px;
  }
  
  #calendarGrid div {
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
  }
  
  #calendarGrid div:hover {
    background-color: #252525;
  }

.clock {
    font-size: 1.2em; /* Tamanho da fonte do relógio */
    margin-left: 68%;
}

.clock i {
    margin-right: 5px; /* Espaço entre o ícone e o texto */
    margin-left: 10px;
}

.menu {
    position: fixed; /* Fixa o menu na tela */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1f1f1f; /* Fundo do menu */
    display: none; /* Oculto por padrão */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    z-index: 1000; /* Garante que o menu fique acima de outros conteúdos */
    overflow-y: auto; /* Adiciona rolagem se necessário */
}

.menu.open {
    display: flex; /* Exibe o menu quando a classe 'open' é adicionada */
}

.menu-content {
    width: 90%;
    max-width: 800px;
    border-radius: 15px;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    /*background-color: #121212;*/
    border-radius: 10px;
    /*box-shadow: 0 4px 8px rgb(0 0 0 / 30%);*/
    text-align: center;
}

.menu h2 {
    margin-top: 150px;
    font-size: 40px;
    color: #fff; /* Cor do título */
}

.menu-content ul {
    list-style: none; /* Remove os marcadores da lista */
    padding: 0; /* Remove o preenchimento padrão */
    width: 45%; /* Largura das listas */
    display: inline-block; /* Para que as listas fiquem lado a lado */
    vertical-align: top; /* Alinha as listas ao topo */
}

.menu-content ul li {
    width: 100%; /* Faz cada item ocupar toda a largura disponível */
    text-align: center; /* Centraliza o texto dentro do item */
}

.menu-content ul li a {
    display: block; /* Faz o link ocupar toda a área do item */
    background-color: #825dff; /* Cor do botão */
    color: #fff; /* Cor do texto */
    border: none; /* Sem borda */
    text-decoration: none; /* Remove sublinhado */
    padding: 20px; /* Padding uniforme */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor de mão */
    font-size: 30px; /* Tamanho da fonte */
    margin-top: 20px; /* Espaço acima do botão */
    transition: background-color 0.3s; /* Transição suave ao passar o mouse */
}

.menu-content ul li a:hover {
    background-color: #6f4fef; /* Cor ao passar o mouse */
}

.close-menu {
    background-color: #825dff; /* Cor do botão de fechar */
    color: #fff;
    border: none;
    padding: 20px 100px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 30px;
    margin-top: 20px; /* Espaço acima do botão */
}

.close-menu:hover {
    background-color: #642dfc; /* Cor do botão de fechar ao passar o mouse */
}

.menu h2 {
    margin-top: 150px;
    font-size: 40px;
    color: #fff; /* Cor do título */
}

h2, h3 {
    color: #ffffff;
}

.temperature, .weather, .news, .stocks {
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 20px;
}

.temperature p, .weather p, .news ul, .stocks ul {
    margin: 0;
    font-size: 1.2em;
}

.news ul, .stocks ul {
    list-style-type: none;
    padding: 0;
}

.news li, .stocks li {
    padding: 8px;
    border-bottom: 1px solid #eee;
}

.news li:hover, .stocks li:hover {
    background-color: #414141;
}

.avatar-container {
    display: flex;
    align-items: center; /* Alinha verticalmente os itens no centro */
    justify-content: space-between; /* Distribui espaço entre os lados */
}

.left-side, .right-side {
    flex: 1; /* Faz com que cada lado ocupe uma quantidade igual de espaço */
}

.avatar {
    width: 100px; /* Largura do avatar */
    margin: 0 40px; /* Margem para separar o avatar dos lados */
}

/* Ajustes adicionais para garantir que tudo fique alinhado corretamente */
.temperature, .stocks, .weather, .news {
    margin: 10px; /* Margem para espaçamento */
}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 20%;
    background-color: #825dff; /* Cor de fundo do avatar */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

.face {
    position: relative;
    width: 60px;
    height: 60px;
    background-color: #825dff; /* Cor do rosto */
    border-radius: 50%;
}

.eye {
    position: absolute;
    width: 45px;
    height: 70px;
    background-color: rgb(0, 0, 0);
    border-radius: 20%;
}

.eye.left {
    left: 38px;
}

.eye.right {
    right: 38px;
}

#recomendacoes {
    margin-top: -20px;
    margin-bottom: 30px;
}

#status {
    display: none; /* Oculta o status por padrão */
    margin-top: 1px;
    font-size: 0.9em; /* Tamanho da fonte */
    color: #777; /* Cor mais clara */
    margin-left: 10px;
}

.chat {
    width: 800px;
    height: 340px;
    border: 1px solid #333;
    background-color: #1e1e1e;
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    margin-top: 35px;
    margin-bottom: 10px;
    padding: 15px; /* Espaçamento interno */
    transition: all 0.3s ease;  /* Adiciona a transição suave */
}

/* Classe para o chat expandido */
.chat.expanded {
    width: 1200px;   /* Aumenta a largura */
    height: 800px;   /* Aumenta a altura */
    margin-top: 15px;
    margin-bottom: 30px;
}

#chatArea {
    width: 100%;
    height: calc(100% - 60px); /* Ajuste conforme necessário para não sobrepor o footer */
    overflow-y: auto;
    border-radius: 4%;
    border-top: 1px solid #333; /* Borda superior do chat */
    background-color: #2e2e2e; /* Fundo do área de chat */
}

.chat-footer {
    display: flex; /* Flexbox para alinhamento */
}

.message {
    margin-left: 10px;
    line-height: 1.5;
}

.my-message {
    background-color: #8c00ff; /* Roxo para mensagens enviadas pelo usuário */
    color: #fff;
    align-self: flex-end; /* Alinha à direita */
    padding: 6px;
    border-radius: 5px;
    margin-left: 50%;
    margin-right: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.response-message {
    background-color: #a745f7; /* Cinza escuro para mensagens recebidas */
    color: #e0e0e0;
    align-self: flex-start; /* Alinha à esquerda */
    padding: 6px;
    max-width: 80%;
    border-radius: 5px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

footer {
    display: flex;
    align-items: center;
    padding: 8px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #444; /* Borda do campo de texto */
    background-color: #333; /* Fundo do campo de texto */
    color: #e0e0e0; /* Cor do texto no campo de texto */
    border-radius: 3px;
    margin-right: 5px;
}

.chatg {
    background-color: #1a1a1c; /* Roxo para o botão */
    color: #fff; /* Cor do texto */
    border: none; /* Sem borda */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor pointer */
    transition: background-color 0.3s; /* Transição suave */
    margin-left: 5px;
}

.detalhes {
    background-color: #121212; /* Roxo para o botão */
    color: #fff; /* Cor do texto */
    border: none; /* Sem borda */
    border-radius: 5px; /* Bordas arredondadas */
    padding: 5px 5px;
    cursor: pointer; /* Cursor pointer */
    transition: background-color 0.3s; /* Transição suave */
    margin-left: 10px;
}

.detalhes:hover {
    background-color: #642dfc; /* Roxo mais escuro no hover */
}

button {
    background-color: #825dff; /* Roxo para o botão */
    color: #fff; /* Cor do texto */
    border: none; /* Sem borda */
    padding: 10px 15px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor pointer */
    transition: background-color 0.3s; /* Transição suave */
    margin-left: 5px;
}

button:hover {
    background-color: #642dfc; /* Roxo mais escuro no hover */
}

.texto {
    background-color: #121212;
    color: #fff; /* Cor do texto */
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    padding: 0px;
}

.texto:hover {
    background-color: #121212;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.dropbtn {
    background-color: #121212;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Estilo para o chapéu de aniversário */
.birthday-hat {
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
    height: 0; /* Definimos a altura como 0 para criar o triângulo */
    border-left: 40px solid transparent; /* Cria a borda esquerda do triângulo */
    border-right: 40px solid transparent; /* Cria a borda direita do triângulo */
    border-bottom: 80px solid #dac5ff; /* Cria a base do triângulo */
    z-index: 100;
  }
  
  /* Estilo para a bola do chapéu */
  .birthday-hat::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 45%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
  }

/* Confetes caindo */
.confetti {
    position: fixed;
    top: -10px;
    background-color: #f0c; /* Cor dos confetes */
    width: 10px;
    height: 10px;
    animation: confettiFall 3s infinite;
    opacity: 0;
}

@keyframes confettiFall {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(100vh);
        opacity: 0;
    }
}

/* Estilo para os flocos de neve */
.snowflake {
    position: fixed;
    top: -10px;
    pointer-events: none;
    font-size: 20px;
    color: #fff;
    z-index: 9999;
    user-select: none;
    animation: fall 10s linear infinite;
  }
  
  @keyframes fall {
    0% {
      top: -10px;
      transform: translateX(0);
    }
    100% {
      top: 100%;
      transform: translateX(calc(100vw - 100%));
    }
  }

  .gorro {
    position: absolute;
    width: 150px;
    height: 70px;
    background-color: red;
    border-radius: 96% 30% 0 0;
    margin: 50px auto;
    margin-bottom: 324px;
}
.pompom {
    position: absolute;
    top: -16px;
    left: 96%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
}
.faixa {
    position: absolute;
    bottom: -15px;
    right: -6px;
    width: 108%;
    height: 20px;
    border-radius: 14%;
    background-color: white;
}


/* Efeitos de Estações no Brasil */

.spring {
    background-color: #202020; /* Tons suaves de primavera */
}

.summer {
    background-color: #2b2818; /* Tons quentes do verão */
}

.autumn {
    background-color: #1b0e0b; /* Tons de outono com laranja e marrom */
}

.winter {
    background-color: #1f2429; /* Tons frios de inverno */
}

.flower {
    position: absolute;
    font-size: 2rem;
    animation: bloom 5s infinite;
}

.sunshine {
    position: absolute;
    top: 10%;
    left: 50%;
    width: 100px;
    height: 100px;
    background-color: yellow;
    border-radius: 50%;
    box-shadow: 0 0 50px yellow;
    animation: shine 2s infinite;
}

.leaf {
    position: fixed;
    font-size: 2rem;
    color: #f44336;
    animation: fall 5s infinite;
}

@keyframes bloom {
    0% { transform: scale(1); opacity: 1; }
    50% { transform: scale(1.5); opacity: 0.5; }
    100% { transform: scale(1); opacity: 1; }
}

@keyframes shine {
    0% { box-shadow: 0 0 20px yellow; }
    100% { box-shadow: 0 0 50px yellow; }
}

@keyframes fall {
    0% { top: -5%; opacity: 1; }
    100% { top: 100%; opacity: 0; }
}

.comemoracao {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #b690f9;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    z-index: 1000;
    animation: aparecer 0.5s ease, desaparecer 0.5s ease 2.5s;
  }
  
  @keyframes aparecer {
    from {
      opacity: 0;
      transform: translateX(-50%) translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateX(-50%) translateY(0);
    }
  }
  
  @keyframes desaparecer {
    from {
      opacity: 1;
      transform: translateX(-50%) translateY(0);
    }
    to {
      opacity: 0;
      transform: translateX(-50%) translateY(-20px);
    }
  }  

.progress-container {
    margin-top: 20px;
    width: 10%;
    background-color: #444;
    border-radius: 10px;
    overflow: hidden;
}

.progress-bar {
    height: 30px;
    background-color: #a085ff;
    width: 0;
    text-align: center;
    color: white;
    line-height: 30px;
    font-size: 1em;
}

  /* Estilo do botão de perfil */
  button#perfil-btn {
    position: absolute;
    margin-left: 90%;
    margin-top: 1%;
  }
  /* Estilo da tela de perfil */
  .perfil-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none; /* Inicialmente oculto */
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow-y: auto;
  }
  .perfil-content {
    background: #202020;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
  }
  .perfil-content h2 {
    margin: 10px 0;
  }
  .perfil-content textarea {
    width: 176px;
    height: 60px;
    margin: 10px 0;
    color: white;
    background: #202020;
  }
  .perfil-content button {
    margin: 5px;
    padding: 10px 15px;
    cursor: pointer;
  }
  .perfil-content .icone-perfil {
    font-size: 50px;
    margin-bottom: 10px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0; /* Remover margens padrão */
}

ul li {
    margin: 10px 0; /* Adiciona o espaço entre as notificações */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    font-size: 1em;
    transition: background-color 0.3s ease;
}

/* Efeito de hover nas notificações */
ul li:hover {
    background-color: #161616;
}

/* Para navegadores baseados em WebKit (como Chrome, Safari e Edge) */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: #605f5f;
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    background-color: #2d2d2d;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Cor ao passar o mouse */
}
