body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #1e1e1e; /* Cor de fundo geral do site - Tema escuro */
    color: #fff; /* Cor do texto geral - Tema escuro */
}

#weekly-schedule ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#weekly-schedule li {
    margin-bottom: 10px; /* Adjust spacing between each training day */
}

header {
    background-color: #1e1e1e; /* Cor de fundo do cabeçalho */
    color: #ffc70e; /* Cor do texto no cabeçalho - Amarelo */
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Espaço entre as seções */
    margin: 0px 30px; /* Adicionando espaçamento nas bordas - 20px superior e inferior, 40px nas laterais */
}

#report-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
    padding: 20px;
}

#training-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinhamento à esquerda */
    width: 48%; /* Largura total dos botões de treino */
    margin: 20px;
}

.instrument-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 15px;
    margin: 5px 0; /* Diminuindo o espaço vertical entre os botões de treino */
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #444; /* Cor de fundo dos botões de instrumento - Tema escuro */
    color: #ffd755; /* Cor do texto nos botões de instrumento - Amarelo */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.instrument-button img {
    width: 30px; /* Ajuste o tamanho do ícone conforme necessário */
    height: 30px;
    margin-right: 10px; /* Espaçamento entre o ícone e o texto do botão */
}

.instrument-button:hover {
    background-color: #666; /* Cor de fundo dos botões de instrumento ao passar o mouse - Tema escuro */
}

#cleaning-button,
#profile-button,
#about-section {
    width: 100%; /* Largura total dessas seções */
}

#clean-instruments,
#view-profiles {
    display: flex;
    justify-content: center;
    width: 60%;
    padding: 25px; /* Diminuindo o espaço interno dos botões de treino */
    margin: 15px auto; /* Centralizando verticalmente e aplicando margem automática nas laterais */
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: #ffd755;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#clean-instruments:hover,
#view-profiles:hover {
    background-color: #666; /* Cor de fundo dos botões dessas seções ao passar o mouse - Tema escuro */
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    padding: 25px; /* Diminuindo o espaço interno dos botões */
    margin: 15px 0; /* Diminuindo o espaço vertical entre os botões */
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: #ffd755;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button i {
    margin-right: 10px;
}

button:hover {
    background-color: #313131; /* Cor de fundo dos botões ao passar o mouse */
}

#loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(0, 0, 0); /* Cor de fundo da tela de loading */
    z-index: 9999;
}

#about-section {
    margin-top: 40px;
    width: 420px;
    height: 150px;
    background-color: #2c2c2c;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#loader-background {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loader-background video {
    width: 100%;
    height: auto;
}

#notes-section {
    margin-top: -40px;
}

#notes {
    background-color: #333; /* cor de fundo cinza escuro */
    color: white; /* cor do texto branco */
    padding: 10px;
    width: 160%;
    height: 160px;
    font-size: 16px;
    border: 1px solid #555; /* borda para distinguir a área de anotações */
    border-radius: 5px;
    resize: none; /* evita redimensionamento da área de texto */
}

textarea {
    width: 400px;
    height: 160px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #555;
    background-color: #2a2a2a;
}


#notesgym {
    color: white;
}

#weight-height {
    width: 100%;
    height: 150px;
    background-color: #2c2c2c; /* Cor de fundo do bloco de peso e altura */
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra suave */
}

#weight-height label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    margin-top: 10px;
}

#weight-height input[type="text"] {
    width: calc(50% - 10px); /* Divide o espaço horizontalmente para os inputs */
    margin-right: 10px;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #555;
    background-color: #444; /* Cor de fundo cinza para os inputs */
    color: white;
}

#weight-height input[type="text"]:focus {
    outline: none;
    border-color: #66afe9;
}

#calendar {
    width: 420px;
    height: 180px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.day {
    height: 30px;
    color: #ffd755;
    text-align: center;
    line-height: 30px;
    border-radius: 5px; /* Borda arredondada para os dias */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Estilo específico para os dias da semana (nomes) */
.day-name {
    background-color: rgb(27, 27, 27); /* Cor de fundo dos dias da semana */
    color: #ffd755; /* Cor do texto nos dias da semana */
}

/* Estilo específico para os dias do mês (números) */
.day-number {
    background-color: #303030; /* Cor de fundo dos dias do mês */
    color: #ffffff; /* Cor do texto nos dias do mês */
}

/* Estilo para quando um dia é clicado e marcado */
.day.selected {
    background-color: #3f3f3f; /* Cor de fundo quando marcado */
    color: #ffe893; /* Cor do texto quando marcado */
}

.day:hover {
    background-color: #3f3f3f;
}

#options-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#options-container button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: #ffd755;
    transition: background-color 0.3s ease;
}

#options-container button:hover {
    background-color: #313131;
}

/* style.css */
#exercise-buttons {
    text-align: center;
}

.exercise-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    padding: 25px; /* Diminuindo o espaço interno dos botões */
    margin: 15px 0; /* Diminuindo o espaço vertical entre os botões */
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: #ffd755;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.exercise-button img {
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
}

#exercise-buttons button {
    margin: 10px;
    height: 120px;
}

#exercise-buttons .row {
    display: flex;
    justify-content: center;
}

#exercise-buttons .row button {
    margin: 10px;
}

#exercise-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
}

.row2 {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.exercise-button2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    padding: 25px; /* Diminuindo o espaço interno dos botões */
    margin: 15px 0; /* Diminuindo o espaço vertical entre os botões */
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: #ffd755;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#meta-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    padding: 25px; /* Diminuindo o espaço interno dos botões */
    margin: 15px 0; /* Diminuindo o espaço vertical entre os botões */
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: #ffd755;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
